server:
  port: 9002
spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5433/testing
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
#      url: jdbc:mysql://sql12.freesqldatabase.com:3306/sql12810248?createDatabaseIfNotExist=true
#      username: sql12810248
#      password: SqG5w4ebQ2
#      driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
