server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true

      routes:
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/product/**

        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**

        - id: cart-service
          uri: lb://cart-service
          predicates:
            - Path=/cart/**
            
        - id: category-service
          uri: lb://category-service
          predicates:
            - Path=/category/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
